.el-aside {
  .el-menu {
    border-right: none;
  }

  .el-menu-vertical {
    background-color: $aside-bg;
  }

  .el-submenu {
    background-color: $aside-bg;

    &__title {
      color: $aside-color;
    }

    .el-menu {
      .el-menu-item {
        color: $aside-color;
        background-color: $aside-expand-bg;
        height: 50px;
        line-height: 50px;
      }

      .is-active {
        background-color: $aside-item-active-bg;
        color: $aside-active-color;
        // 关闭三级菜单二级菜单样式
        ul {
          border: none;
        }
      }

      // 关闭三级菜单二级菜单样式
      .is-active.is-opened {
        background-color: $aside-bg;

        ul {
          border: none;
        }
      }
    }
  }

  //.is-opened{
  //  .el-submenu{
  //    background-color: $aside-expand-bg;
  //  }
  //}

  .el-menu-item:focus, .el-menu-item:hover {
    background-color: transparent;
  }

  .el-menu-item:hover i,
  .el-menu-item:hover span {
    color: $aside-active-color;
  }

  .el-submenu__title:hover {
    background-color: $aside-bg;
  }

  .el-submenu__title:hover i,
  .el-submenu__title:hover span {
    color: $aside-active-color;
  }

  .el-menu--inline {
    border-left: 5px solid #2c3b41;
  }
}
