.el-aside {
  .el-menu {
    border-right: none;
    background-color: $aside-bg;

    &:not(.el-menu--collapse) {
      min-width: $aside-min-width;
    }

    .el-menu-item.is-active {
      background-color: $aside-item-active-bg;
    }

    //.el-menu-item.is-active:hover {
    //  background-color: transparent;
    //}

    .el-submenu.is-opened {
      & ul {
        & li {
          background-color: $aside-expand-bg;
        }
      }
    }

    .el-menu-item:focus,
    .el-menu-item:hover {
      background-color: transparent;
    }

    .el-menu-item:hover i,
    .el-menu-item:hover span {
      color: $aside-text-active-color;
    }
  }
}
