@import "theme";
@import "aside";
@import "header";
@import "transition";
@import "animation";

#app, .el-container, body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  color: #2c3e50;
  font-size: 14px;
  margin: 0;
}

#app {
  //删除input数字框的上下箭头
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
