@import "theme";
@import "aside";
@import "header";
#app,body,html{
  width: 100%;
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  color: #2c3e50;
  font-size: 14px;
  margin: 0;
}

#app {
  .app-body {
    display: flex;
    flex-direction: row;
    height: 100%;

    .app-aside {
      min-width: $aside-min-width;
      background-color: $aside-bg;
      color: #fff;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 0 15px;

        & h2 {
          margin: 0;
          padding-left: 10px;
        }

        & img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }
    .app-container{
      flex-direction: column;
      background-color: #f0f2f5;
    }
  }
}
.el-scrollbar__wrap{
  overflow-x: hidden;
}
//.el-scrollbar__bar{
//  position: absolute;
//  right: 2px;
//  bottom: 2px;
//  z-index: 1;
//  border-radius: 4px;
//  opacity: 0;
//  transition: opacity .12s ease-out;
//}
